---
http_interactions:
- request:
    method: post
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages
    body:
      encoding: UTF-8
      string: '{"messages":[{"body":"{\"type\":\"bot.record\",\"bot_name\":\"companies_house_3\",\"snapshot_id\":\"5571\",\"data\":{\"saon\":null,\"paon\":\"10\",\"street\":\"London
        Road\",\"locality\":null,\"town\":\"London\",\"postcode\":\"E13 0DN\",\"valid_at\":\"2014-03-31T00:00:00+00:00\",\"provenance\":{\"activity\":{\"executed_at\":\"2015-04-21T10:55:20+00:00\",\"processing_scripts\":\"http://github.com/oa-bots/companies_house\",\"derived_from\":[{\"type\":\"Source\",\"urls\":[\"http://download.companieshouse.gov.uk/BasicCompanyData-2015-04-01-part4_5.zip\"],\"downloaded_at\":\"2015-04-21T10:54:59+00:00\",\"processing_script\":\"https://github.com/oa-bots/companies_house/tree/aa971c7b191c716f9ec6304af6910bc1d64db621/scraper.rb\"},{\"type\":\"Source\",\"urls\":[\"http://alpha.openaddressesuk.org/streets/NjqzJv\"],\"downloaded_at\":\"2015-04-21T10:55:20+00:00\",\"processing_script\":\"https://github.com/oa-bots/companies_house/tree/aa971c7b191c716f9ec6304af6910bc1d64db621/scraper.rb\"},{\"type\":\"Source\",\"urls\":[\"http://alpha.openaddressesuk.org/towns/4194LO\"],\"downloaded_at\":\"2015-04-21T10:55:20+00:00\",\"processing_script\":\"https://github.com/oa-bots/companies_house/tree/aa971c7b191c716f9ec6304af6910bc1d64db621/scraper.rb\"},{\"type\":\"Source\",\"urls\":[\"http://alpha.openaddressesuk.org/postcodes/EdcN8s\"],\"downloaded_at\":\"2015-04-21T10:55:20+00:00\",\"processing_script\":\"https://github.com/oa-bots/companies_house/tree/aa971c7b191c716f9ec6304af6910bc1d64db621/scraper.rb\"}]}}},\"data_type\":\"address\",\"identifying_fields\":null}"}]}'
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ids":["6142695040455842990"],"msg":"Messages put on queue."}'
  recorded_at: Tue, 28 Apr 2015 07:54:01 GMT
[...]
- request:
    method: get
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"messages":[{"id":"6142695040455842990","body":"{\"type\":\"bot.record\",\"bot_name\":\"companies_house_3\",\"snapshot_id\":\"5571\",\"data\":{\"saon\":null,\"paon\":\"10\",\"street\":\"London
        Road\",\"locality\":null,\"town\":\"London\",\"postcode\":\"E13 0DN\",\"valid_at\":\"2014-03-31T00:00:00+00:00\",\"provenance\":{\"activity\":{\"executed_at\":\"2015-04-21T10:55:20+00:00\",\"processing_scripts\":\"http://github.com/oa-bots/companies_house\",\"derived_from\":[{\"type\":\"Source\",\"urls\":[\"http://d[...]
- request:
    method: delete
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages/6142695040455842990
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"msg":"Deleted"}'
  recorded_at: Tue, 28 Apr 2015 07:54:02 GMT
[...]
- request:
    method: get
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"messages":[]}'
  recorded_at: Tue, 28 Apr 2015 07:54:05 GMT
recorded_with: VCR 2.9.3
