---
http_interactions:
- request:
    method: delete
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/ironmq_wrapper_test/messages/6140501274236562295
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"msg":"Deleted"}'
  recorded_at: Wed, 22 Apr 2015 10:01:06 GMT
- request:
    method: post
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/ironmq_wrapper_test/messages
    body:
      encoding: UTF-8
      string: '{"messages":[{"body":"{\"some\":\"json\"}"}]}'
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ids":["6140501308596365816"],"msg":"Messages put on queue."}'
  recorded_at: Wed, 22 Apr 2015 10:01:14 GMT
- request:
    method: get
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/ironmq_wrapper_test/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"messages":[{"id":"6140501308596365816","body":"{\"some\":\"json\"}","timeout":60,"reserved_count":1,"push_status":{}}]}'
  recorded_at: Wed, 22 Apr 2015 10:01:14 GMT
[...]
- request:
    method: post
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/ironmq_wrapper_test/clear
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"msg":"Cleared"}'
  recorded_at: Wed, 22 Apr 2015 10:01:14 GMT
recorded_with: VCR 2.9.3
