---
http_interactions:
- request:
    method: post
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages
    body:
      encoding: UTF-8
      string: '{"messages":[{"body":"{\"type\":\"bot.record\",\"bot_name\":\"turbot-bot\",\"snapshot_id\":1,\"data\":{\"saon\":null,\"paon\":0,\"street\":\"Downing
        Street\",\"locality\":null,\"town\":\"London\",\"postcode\":\"SW1A 2AA\",\"provenance\":{\"activity\":{\"executed_at\":\"2015-04-20T12:33:11.843+00:00\",\"processing_scripts\":\"https://github.com/OpenAddressesUK/jess\",\"derived_from\":[{\"type\":\"inference\",\"inferred_from\":[\"http://ernest.openaddressesuk.org/addresses/2813808\",\"http://ernest.openaddressesuk.org/addresses/1032935\"],\"inferred_at\":\"2015-04-20T12:33:11.844+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/jess/blob/ea74748d324efda47054e465cdfe76bdc4f8c5df/lib/jess.rb\"}]}}},\"data_type\":\"address\",\"identifying_fields\":null}"}]}'
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ids":["6140484485209361214"],"msg":"Messages put on queue."}'
  recorded_at: Wed, 22 Apr 2015 08:55:56 GMT
[...]
- request:
    method: get
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"messages":[{"id":"6140484485209361214","body":"{\"type\":\"bot.record\",\"bot_name\":\"turbot-bot\",\"snapshot_id\":1,\"data\":{\"saon\":null,\"paon\":0,\"street\":\"Downing
        Street\",\"locality\":null,\"town\":\"London\",\"postcode\":\"SW1A 2AA\",\"provenance\":{\"activity\":{\"executed_at\":\"2015-04-20T12:33:11.843+00:00\",\"processing_scripts\":\"https://github.com/OpenAddressesUK/jess\",\"derived_from\":[{\"type\":\"inference\",\"inferred_from\":[\"http://ernest.openaddressesuk.org/addresses/2813808\",\"http://ernest.openaddressesuk.org/addresses/1032935\"],\"inferred_at\":\"2015-04-20T12:33:11.844+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/jess/blob/ea74748d324efda47054e465cdfe76bdc4f8c5df/lib/jess.rb\"}]}}},\"data_type\":\"address\",\"identifying_fields\":null}","timeout":60,"reserved_count":1,"push_status":{}}]}'
  recorded_at: Wed, 22 Apr 2015 08:55:57 GMT
- request:
    method: delete
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages/6140484485209361214
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"msg":"Deleted"}'
  recorded_at: Wed, 22 Apr 2015 08:55:57 GMT
[...]
- request:
    method: get
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"messages":[]}'
  recorded_at: Wed, 22 Apr 2015 08:55:59 GMT
recorded_with: VCR 2.9.3
