---
http_interactions:
- request:
    method: post
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages
    body:
      encoding: UTF-8
      string: '{"messages":[{"body":"{\"type\":\"bot.record\",\"bot_name\":\"turbot-bot\",\"snapshot_id\":1,\"data\":{\"saon\":null,\"paon\":0,\"street\":\"Downing
        Street\",\"locality\":null,\"town\":\"London\",\"postcode\":\"SW1A 2AA\",\"provenance\":{\"activity\":{\"executed_at\":\"2015-01-30T17:57:51+00:00\",\"processing_scripts\":\"https://github.com/OpenAddressesUK/sorting_office\",\"derived_from\":[{\"type\":\"userInput\",\"input\":\"10
        Downing Street, London, SW1A 2AA\",\"inputted_at\":\"2015-01-30T17:57:51+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/sorting_office/tree/0fff78c71a170e2264faef7962e19f99a645c1d0/lib/sorting_office/address.rb\"},{\"type\":\"Source\",\"urls\":[\"http://alpha.openaddressesuk.org/postcodes/Uxm2vc\"],\"downloaded_at\":\"2015-01-30T17:57:51+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/sorting_office/tree/0fff78c71a170e2264faef7962e19f99a645c1d0/lib/models/postcode.rb\"},{\"type\":\"Source\",\"urls\":[\"http://alpha.openaddressesuk.org/towns/qyHZe2\"],\"downloaded_at\":\"2015-01-30T17:57:51+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/sorting_office/tree/0fff78c71a170e2264faef7962e19f99a645c1d0/lib/models/town.rb\"},{\"type\":\"Source\",\"urls\":[\"http://alpha.openaddressesuk.org/streets/Gq5142\"],\"downloaded_at\":\"2015-01-30T17:57:51+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/sorting_office/tree/0fff78c71a170e2264faef7962e19f99a645c1d0/lib/models/street.rb\"}]}}},\"data_type\":\"address\",\"identifying_fields\":null}"}]}'
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ids":["6140484463734460615"],"msg":"Messages put on queue."}'
  recorded_at: Wed, 22 Apr 2015 08:55:52 GMT
[...]
- request:
    method: get
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"messages":[{"id":"6140484463734460615","body":"{\"type\":\"bot.record\",\"bot_name\":\"turbot-bot\",\"snapshot_id\":1,\"data\":{\"saon\":null,\"paon\":0,\"street\":\"Downing
        Street\",\"locality\":null,\"town\":\"London\",\"postcode\":\"SW1A 2AA\",\"provenance\":{\"activity\":{\"executed_at\":\"2015-01-30T17:57:51+00:00\",\"processing_scripts\":\"https://github.com/OpenAddressesUK/sorting_office\",\"derived_from\":[{\"type\":\"userInput\",\"input\":\"10
        Downing Street, London, SW1A 2AA\",\"inputte[...]
- request:
    method: delete
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages/6140484463734460615
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"msg":"Deleted"}'
  recorded_at: Wed, 22 Apr 2015 08:55:53 GMT
[...]
- request:
    method: get
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"messages":[]}'
  recorded_at: Wed, 22 Apr 2015 08:55:56 GMT
recorded_with: VCR 2.9.3
