---
http_interactions:
- request:
    method: post
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages
    body:
      encoding: UTF-8
      string: '{"messages":[{"body":"{\"saon\":null,\"paon\":0,\"street\":\"Downing
        Street\",\"locality\":null,\"town\":\"London\",\"postcode\":\"SW1A 2AA\",\"provenance\":{\"activity\":{\"executed_at\":\"2015-01-30T17:57:51+00:00\",\"processing_scripts\":\"https://github.com/OpenAddressesUK/sorting_office\",\"derived_from\":[{\"type\":\"userInput\",\"input\":\"10
        Downing Street, London, SW1A 2AA\",\"inputted_at\":\"2015-01-30T17:57:51+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/sorting_office/tree/0fff78c71a170e2264faef7962e19f99a645c1d0/lib/sorting_office/address.rb\"},{\"type\":\"Source\",\"urls\":[\"http://alpha.openaddressesuk.org/postcodes/Uxm2vc\"],\"downloaded_at\":\"2015-01-30T17:57:51+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/sorting_office/tree/0fff78c71a170e2264faef7962e19f99a645c1d0/lib/models/postcode.rb\"},{\"type\":\"Source\",\"urls\":[\"http://alpha.openaddressesuk.org/towns/qyHZe2\"],\"downloaded_at\":\"2015-01-30T17:57:51+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/sorting_office/tree/0fff78c71a170e2264faef7962e19f99a645c1d0/lib/models/town.rb\"},{\"type\":\"Source\",\"urls\":[\"http://alpha.openaddressesuk.org/streets/Gq5142\"],\"downloaded_at\":\"2015-01-30T17:57:51+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/sorting_office/tree/0fff78c71a170e2264faef7962e19f99a645c1d0/lib/models/street.rb\"}]}}}"}]}'
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ids":["6117954310798302610"],"msg":"Messages put on queue."}'
  recorded_at: Fri, 20 Feb 2015 15:47:20 GMT
[...]
- request:
    method: get
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"messages":[{"id":"6117954310798302610","body":"{\"saon\":null,\"paon\":0,\"street\":\"Downing
        Street\",\"locality\":null,\"town\":\"London\",\"postcode\":\"SW1A 2AA\",\"provenance\":{\"activity\":{\"executed_at\":\"2015-01-30T17:57:51+00:00\",\"processing_scripts\":\"https://github.com/OpenAddressesUK/sorting_office\",\"derived_from\":[{\"type\":\"userInput\",\"input\":\"10
        Downing Street, London, SW1A 2AA\",\"inputted_at\":\"2015-01-30T17:57:51+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/sorting_office/tree/0fff78c71a170e2264faef7962e19f99a645c1d0/lib/sorting_office/address.rb\"},{\"type\":\"Source\",\"urls\":[\"http://alpha.openaddressesuk.org/postcodes/Uxm2vc\"],\"downloaded_at\":\"2015-01-30T17:57:51+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/sorting_office/tree/0fff78c71a170e2264faef7962e19f99a645c1d0/lib/models/postcode.rb\"},{\"type\":\"Source\",\"urls\":[\"http://alpha.openaddressesuk.org/towns/qyHZe2\"],\"downloaded_at\":\"2015-01-30T17:57:51+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/sorting_office/tree/0fff78c71a170e2264faef7962e19f99a645c1d0/lib/models/town.rb\"},{\"type\":\"Source\",\"urls\":[\"http://alpha.openaddressesuk.org/streets/Gq5142\"],\"downloaded_at\":\"2015-01-30T17:57:51+00:00\",\"processing_script\":\"https://github.com/OpenAddressesUK/sorting_office/tree/0fff78c71a170e2264faef7962e19f99a645c1d0/lib/models/street.rb\"}]}}}","timeout":60,"reserved_count":1,"push_status":{}}]}'
  recorded_at: Fri, 20 Feb 2015 15:47:21 GMT
- request:
    method: delete
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages/6117954310798302610
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"msg":"Deleted"}'
  recorded_at: Fri, 20 Feb 2015 15:47:21 GMT
[...]
- request:
    method: get
    uri: https://mq-aws-eu-west-1.iron.io/1/projects/<IRON_MQ_PROJECT_ID>/queues/<IRON_MQ_QUEUE>/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <IRON_MQ_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"messages":[]}'
  recorded_at: Fri, 20 Feb 2015 15:47:25 GMT
recorded_with: VCR 2.9.3
